<% if @config.respond_to?("employment") %>
  <div class="rvt-card">
    <div class="rvt-card__body">
      <h2 class="rvt-card__title">
        <a id="employment" href="#top">Employment</a>
      </h2>
      <% @config.employment.group_by { |employment| employment["Entity"] }.each do |entity, employments| %>
        <div class="rvt-card__content [ rvt-flow ]">
          <h3><%= entity %></h3>
          <% employments.each do |employment| %>
            <h4><%= employment["Role"] %></h4>
            <div>
              <%= employment["Location"] %>
              (<%= employment["Started"] %> - <%= employment["Stopped"] %>)
            </div>
            <ul>
              <% employment["Details"].each do |detail| %>
                <li><%= detail %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <a class="rvt-button" href="#top">Top</a>
<% end %>
